<nav class="navigation-list">
    <a
        [class.highlight]="activeLink === '#products'"
        (click)="setActive('#products')"
    >
        Outils IA
    </a>
    <a
        [class.highlight]="activeLink === '#solutions'"
        (click)="setActive('#solutions')"
    >
        Solutions
    </a>
    <a
        [class.highlight]="activeLink === '#community'"
        (click)="setActive('#community')"
    >
        Espace Collaboratif
    </a>
    <a
        [class.highlight]="activeLink === '#resource'"
        (click)="setActive('#resource')"
    >
        Ressources
    </a>
    <a
        [class.highlight]="activeLink === '#pricing'"
        (click)="setActive('#pricing')"
    >
        Plans & Abonnements
    </a>
    <a
        [class.highlight]="activeLink === '#contact'"
        (click)="setActive('#contact')"
    >
        Nous contacter
    </a>
</nav>