:host {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-end;
}

.textarea-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 1632px;
    height: 48px;
    max-height: 280px;
    padding: 11px;
    font-size: 16px;
    color: #f6f6f6;
    background-color: #303030;
    border: 1px solid #2c2f36;
    border-radius: 0px 0px 9px 9px;
    box-shadow: 0 4px 8px #ffffffc6;
    box-sizing: border-box;
    line-height: 24px;
}

textarea {
    all: unset;
    display: flex;
    flex: 1;
    width: 100%;
    height: inherit;
    resize: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    color: inherit;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

.textarea-scroll {
    /* activate scroll */
    overflow-y: scroll;
    overflow-x: hidden;
    /* hide scrollbar */
    scrollbar-width: none;
    -ms-overflow-style: none;
    /*to create new line on overflow-x*/
    white-space: pre-wrap;
    word-break: break-word;
}

    /* hide scrollbar */
.textarea-scroll::-webkit-scrollbar {
    display: none;
}