:host {
    display: flex; /* Si chat-container a des éléments internes qui doivent s'étirer */
    flex-direction: column; /* Si chat-container a des éléments internes qui doivent s'étirer */
}

.chat-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    gap: 10px;
}

.chat-shell {
    background-color: black;
    display:flex;
    flex-direction: column;
    width: 100%;
    height: 600px;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.chat-shell::-webkit-scrollbar {
    display: none;
}
