<!--<question-form></question-form>-->
<!--<messaging-header></messaging-header>-->
<!--<footer-frame></footer-frame>-->
<!--<form-content-heading></form-content-heading>-->
<!--<form-button>
    <span label>
        Suivant
    </span>
</form-button>-->
<!--<action-panel></action-panel>-->
<!--<request-message-preview [status]="{'unread': true}"></request-message-preview>
<request-message-preview></request-message-preview>
<request-message-preview ></request-message-preview>-->
<!-- <preview-article></preview-article>-->

<!-- <offerings-card></offerings-card>-->


<!--<chips icon="favorite" label="Favoris" iconrt="favorite"></chips>
<chips label="Valider" iconrt="check"></chips>
<chips iconrt="close"  icon="close" [radius]="4">
    <span label>Hello</span>
    <span label>Julien</span>
</chips>
<chips label="Fermer" iconrt="close"></chips>
<chips label="Déconnexion" iconrt="logout" [radius]="4"></chips>
<div>Hello</div>

<div class="chat-container">
    <div class="chat-shell">
        @for (chatMessage of conversation; track chatMessage) {
            <chat-message [content]="chatMessage.message.content" [send]="chatMessage.meta.send" [receive]="chatMessage.meta.receive" [mode]="chatMessage.mode" [type]="chatMessage.type" [role]="chatMessage.message.role"></chat-message>
        }
    </div>
</div> -->

