.chat-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.chat-shell {
    display:flex;
    flex-direction: column;
    width: 75%;
    background-color: #f0f0f0;
    border-radius: 16px;
    height: 600px;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.chat-shell::-webkit-scrollbar {
    display: none;
}
